# ╔══════════════════════════════════════════════════════════════════════════════╗
# ║  terraform.tfvars — Track OKE Lección 01: Cluster Básico                   ║
# ╚══════════════════════════════════════════════════════════════════════════════╝

tenancy_ocid      = "<tu_tenancy_ocid>"
current_user_ocid = "<tu_user_ocid>"
fingerprint       = "<tu_fingerprint>"
private_key_path  = "~/.oci/key.pem"
region            = "us-ashburn-1"

compartment_ocid = "<tu_compartment_ocid>"
proyecto         = "oke-basico"
ambiente         = "desarrollo"
propietario      = "<tu_email>"

# ─── Red ──────────────────────────────────────────────────────────────────────
vcn_cidr             = "10.0.0.0/16"
subnet_api_cidr      = "10.0.0.0/28"
subnet_lb_cidr       = "10.0.1.0/24"
subnet_nodepool_cidr = "10.0.10.0/24"
pods_cidr            = "10.244.0.0/16"
services_cidr        = "10.96.0.0/16"

# ─── Kubernetes ───────────────────────────────────────────────────────────────
k8s_version     = "v1.32.1"
node_pool_size  = 2
node_shape      = "VM.Standard.E4.Flex"
node_ocpus      = 1
node_memoria_gb = 8
ssh_public_key  = "<tu_ssh_public_key>"
